<!DOCTYPE html>
<html lang="en" ng-app="directoryApp">
<head>
	<meta charset="UTF-8">
	<title>Angular tests</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="//code.angularjs.org/1.4.5/angular-animate.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="js/directory.js"></script>
	<style>
		.hidden {display: none;}
		li{list-style-type: none; margin-bottom: 1.5em;}
		img{display: block; border-radius:20%;}
		li.ng-enter{transition: 0.3s ease all; opacity:0; transform:translateY(10px);} 
		li.ng-enter-active{opacity:1;transform:translateY(0);}
		li.ng-leave{transition: 0.3s ease all; opacity:1;transform:translateY(0);}
		li.ng-leave.ng-leave-active{opacity:0;transform:transform:translateY(10px);}
	</style>
</head>
<body ng-controller="directoryController as dirList">
	<input type="text" ng-model="search">
	<br>
	<ul ng-if="dirList.toggle">
		<li ng-repeat="item in dirList.list | filter:search" ng-include src="'inc/person.html'">
		</li>
	</ul>
	<br>
	<form ng-submit="dirList.addPerson()">
		<input type="text" placeholder="Name" ng-model="dirList.name">
		<input type="text" placeholder="Role" ng-model="dirList.role">
		<input type="submit">
	</form>
	<br>
	<button ng-show="!dirList.toggle" ng-click="dirList.toggle = true">Show names</button>
	<button ng-show="dirList.toggle" ng-click="dirList.toggle = false">Hide names</button>
</body>
</html>
