<!DOCTYPE html>
<html lang="en" ng-app="directoryApp">
<head>
	<meta charset="UTF-8">
	<title>Angular tests</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="directory.js"></script>
	<style>
		.hidden {display: none;}
		li{list-style-type: none; margin-bottom: 1.5em;}
		img{display: block; border-radius:20%;}
	</style>
</head>
<body ng-controller="directoryController as dirList">
	<input type="text" ng-model="search">
	<br>
	<ul ng-class="{'hidden': !dirList.toggle}">
		<li ng-repeat="item in dirList.list | filter:search">
			<img ng-src="{{item.img}}" alt="">
			{{item.name}} - <em>{{item.role}}</em>
		</li>
	</ul>
	<br>
	<form ng-submit="dirList.addPerson()">
		<input type="text" placeholder="Name" ng-model="dirList.name">
		<input type="text" placeholder="Role" ng-model="dirList.role">
		<input type="submit">
	</form>
	<br>
	<button ng-show="!dirList.toggle" ng-click="dirList.toggle = true">Show names</button>
	<button ng-show="dirList.toggle" ng-click="dirList.toggle = false">Hide names</button>
</body>
</html>